<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser.usertype ==='Admin'">
   <div class="navbar-nav">
        <!--<a class="nav-item nav-link" routerLink="['/]">Home</a>-->
        <a class="nav-item nav-link" [routerLink]="['/timesheets/worktype']">Create Work Type</a>
        <a class="nav-item nav-link" [routerLink]="['/timesheets/workitem']">Create Work Item</a>
        <a class="nav-item nav-link" [routerLink]="['/timesheets/assworkitem']">Assign Work Item</a>
    </div>
</nav>
<h3 *ngIf="currentUser.usertype ==='User'">Submit timesheets For User!<br>
</h3>
 <div *ngIf="currentUser.usertype ==='User'">
<form [formGroup]="submitTimeSheet" (ngSubmit)="onSubmit()">
<!--<div class="form-group">
<h3 formControlName="subTimUser" class="form-control" [ngClass]="{ 'is-invalid': submitted && subTim.subTimUser.errors }">
{{currentUser.username}}
</h3>
</div>-->
<table class='table'>
<thead>
<tr>
<th>Date :</th>
<th>Work Item</th>
<th>Hours :</th>
</tr>
</thead>
<tbody>
<tr>
<td>
    <div class="form-group">
        <input type="date" formControlName="subTimDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && subTim.subTimDate.errors }" />
        <div *ngIf="submitted && subTim.subTimDate.errors" class="invalid-feedback">
            <div *ngIf="subTim.subTimDate.errors.required">Date is required</div>
             <div *ngIf="subTim.subTimDate.errors.dob">Date greater than today's Date</div>
        </div>
    </div>
</td>
<td>
<div class="form-group">
        <select formControlName="subTimWorkItem" [ngClass]="{ 'is-invalid': submitted && subTim.subTimWorkItem.errors }">
        <ng-container *ngFor="let assitem of assitems">
        <option *ngIf="currentUser.username === assitem.assWitUserName" value="{{assitem.assWitWorkDesc}}">{{assitem.assWitWorkDesc}}</option>
        </ng-container>
        <div *ngIf="submitted && subTim.subTimWorkItem.errors" class="invalid-feedback">
            <div *ngIf="subTim.subTimWorkItem.errors.required">Work Item Required</div>
        </div>
        </select>
</div>
</td>
<td>
<div class="form-group">
        <input type="text" formControlName="hours" class="form-control" [ngClass]="{ 'is-invalid': submitted && subTim.hours.errors }" />
        <div *ngIf="submitted && subTim.hours.errors" class="invalid-feedback">
            <div *ngIf="subTim.hours.errors.required">Hours is required</div>
            <div *ngIf="subTim.hours.errors.maxLength">Hours Max value 9</div>
            <div *ngIf="subTim.hours.errors.pattern">Hours Should only be number</div>
        </div>
    </div>
</td>
</tr>
</tbody>
</table>
       <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Log Worksheet
        </button>
        <a routerLink="/timesheets" class="btn btn-link">Cancel</a>
    </div>
</form>
</div>
<!--<h2>Create WorkType</h2>
<form [formGroup]="createWorkType" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="workTypeCode">Work Type Code</label>
        <input type="text" formControlName="workTypeCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.workTypeCode.errors }" />
        <div *ngIf="submitted && f.workTypeCode.errors" class="invalid-feedback">
            <div *ngIf="f.workTypeCode.errors.required">Work Type Code Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="workTypeDesc">Work Type Description</label>
        <input type="text" formControlName="workTypeDesc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.workTypeDesc.errors }" />
        <div *ngIf="submitted && f.workTypeDesc.errors" class="invalid-feedback">
            <div *ngIf="f.workTypeDesc.errors.required">Work Type Description is required</div>
        </div>
    </div>
           <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create Work Type
        </button>
        <!--<a routerLink="/login" class="btn btn-link">Cancel</a>-->
    <!--</div>
</form>
<h2>Create Work Item</h2>
<form [formGroup]="createWorkItem" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="workItemCode">Work Item Code</label>
        <input type="text" formControlName="workItemCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.workItemCode.errors }" />
        <div *ngIf="submitted && f.workItemCode.errors" class="invalid-feedback">
            <div *ngIf="f.workItemCode.errors.required">Work Item Code Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="workItemDesc">Work Item Description</label>
        <input type="text" formControlName="workItemDesc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.workItemDesc.errors }" />
        <div *ngIf="submitted && f.workItemDesc.errors" class="invalid-feedback">
            <div *ngIf="f.workItemDesc.errors.required">Work Item Description is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="wItWorkTypeDesc">Work Type Code</label>
        <input type="text" formControlName="wItWorkTypeDesc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.wItWorkTypeDesc.errors }" />
        <div *ngIf="submitted && f.wItWorkTypeDesc.errors" class="invalid-feedback">
            <div *ngIf="f.wItWorkTypeDesc.errors.required">Work Item Description is required</div>
        </div>
    </div>
           <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create Work Item
        </button>
        <!--<a routerLink="/login" class="btn btn-link">Cancel</a>-->
    <!--</div>
</form>-->
